*, *::before, *::after{
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #616161;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f2f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

a, a:hover, a:focus{
  text-decoration: none;
  color: #616161;
}